@import 'styles/const.scss';
@import 'styles/mixins.scss';

.FeaturedGalleryItem {
    $animation-duration: .4s;

    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: $animation-duration visibility step-end;

    @include laptop {
        align-items: flex-start;
    }

    @include mobile {
        display: block;
        padding-top: 12px;
    }

    &.active {
        position: relative;
        visibility: inherit;
        transition: $animation-duration visibility step-start;
    }

    @include minMobile {
        &.isInitial &-pictureAspect {
            animation: show-picture-wrapper 0s both $ease-power2-out !important;
        }
    
        .pageIsLoading &.isInitial &-pictureAspect img {
            animation: initial-show-picture-content 0.7s both $ease-power2-out 0.7s;
        }
    
        &.isInitial &-pictureAspect img {
            animation: initial-show-picture-content 0.7s both $ease-power2-out;
        }
    }



    &[data-direction="right"] &-content {
        animation: hide-content-right $animation-duration both $ease-power2-out;
    }

    &[data-direction="left"] &-content {
        animation: hide-content-left $animation-duration both $ease-power2-out;
    }

    &-pictureAspect {
        animation: hide-picture-wrapper $animation-duration both $ease-power2-out;
    }

    &[data-direction="right"] &-pictureAspect img {
        animation: hide-picture-content-right $animation-duration both $ease-power2-out;
    }

    &[data-direction="left"] &-pictureAspect img {
        animation: hide-picture-content-left $animation-duration both $ease-power2-out;
    }

    &[data-direction="right"].active &-content {
        animation: show-content-right $animation-duration both $ease-power2-out .3s;
    }

    &[data-direction="left"].active &-content {
        animation: show-content-left $animation-duration both $ease-power2-out .3s;
    }

    &.active &-pictureAspect {
        animation: show-picture-wrapper $animation-duration both $ease-power2-out;
    }

    &[data-direction="right"].active &-pictureAspect img {
        animation: show-picture-content-right $animation-duration both $ease-power2-out;
    }

    &[data-direction="left"].active &-pictureAspect img {
        animation: show-picture-content-left $animation-duration both $ease-power2-out;
    }

    @keyframes hide-content-right {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes hide-content-left {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    @keyframes hide-picture-wrapper {
        0% {
            background: rgba(black, 0);
        }
        1% {
            background: rgba(black, 1);
        }
        100% {
            background: rgba(black, 1);
        }
    }

    @keyframes hide-picture-content-right {
        0% {
            transform: rotate(0) scale(1);
            opacity: 1;
        }
        100% {
            transform: rotate(30deg) scale(1.1);
            opacity: 0.6;
        }
    }

    @keyframes hide-picture-content-left {
        0% {
            transform: rotate(0) scale(1);
            opacity: 1;
        }
        100% {
            transform: rotate(-30deg) scale(1.1);
            opacity: 0.6;
        }
    }

    @keyframes show-content-right {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes show-content-left {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }


    @keyframes show-picture-wrapper {
        0% {
            clip-path: circle(0% at 50% 50%);
        }
        100% {
            clip-path: circle(50% at 50% 50%);
        }
    }

    @keyframes initial-show-picture-content {
        0% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes show-picture-content-right {
        0% {
            transform: rotate(-30deg) scale(1.5);
        }
        100% {
            transform: rotate(0) scale(1);
        }
    }

    @keyframes show-picture-content-left {
        0% {
            transform: rotate(30deg) scale(1.5);
        }
        100% {
            transform: rotate(0) scale(1);
        }
    }

    &-picture {
        position: relative;
        flex: 600 0;
        order: 2;
        pointer-events: none;

        @include tablet {
            flex: 296 0;
        }

        @include minMobile {
            &:hover {
                & + div {
                    h2 {
                        text-decoration: underline;
                    }
                }
            }
        }

        @include mobile {
            width: calc(100% - 24px);
            top: 0;
            left: 0;
            margin: 0 auto;
        }

        &Aspect {
            width: 100%;
            height: 0;
            padding-top: 100%;
            border-radius: 100%;
            clip-path: ellipse();
            overflow: hidden;
            pointer-events: all;

            &:after {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                text-decoration: underline;
                color: white;
                background: $color-primary;
                border-radius: 100%;
                clip-path: circle(25% at 50% 50%);
                opacity: 0;
                text-underline-offset: 3px;

                .isPointer & {
                    transition: 0.15s opacity;
                }
            }

            .isPointer &:hover  {
                &:after {
                    opacity: 1;
                    transition: 0s opacity;
                    animation: article-hover 0.35s both $ease-power2-out;
                }
            }

            .isTouch &:active {
                &:after {
                    opacity: 1;
                }
            }

            @keyframes article-hover {
                0% {
                    clip-path: circle(0% at 50% 50%);
                }

                70% {
                    clip-path: circle(27% at 50% 50%);
                }

                100% {
                    clip-path: circle(25% at 50% 50%);
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-content {
        order: 1;
        flex: 680 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        @include laptop {
            padding-top: calc(35.12vw + -366px);
        }

        @media (min-width: 1024px) and (max-width: 1200px) {
            justify-content: flex-start;
        }

        @include tablet {
            padding-top: 0;
            flex: 408 0;
            justify-content: center;
        }

        @include mobile {
            margin-top: 60px;
            padding-top: 0px;
            justify-content: center;
        }

        &Wrapper {
            width: 436px;
            padding-right: 120px;
            box-sizing: content-box;

            @media (min-width: 1024px) and (max-width: 1200px) {
                width: 100%;
                padding-left: 40px;
                box-sizing: border-box;
            }

            @include tablet {
                width: 296px / 408px * 100%;
                padding-right: 44px;
                box-sizing: border-box;
            }

            @include mobile {
                width: 100%;
                padding-right: 0;
                box-sizing: border-box;
            }
        }
    }

    &-subtitle {
        color: $color-primary;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 500;

        @include mobile {
            margin-bottom: 8px;
        }
    }

    h2 {
        color: $color-primary;
        margin-bottom: 32px;

        @include mobile {
            margin-top: 0;
        }

        a {
            text-decoration: none;
            color: $color-primary;

            &:hover,
            &:active {
                text-decoration: underline;
            }

        }
    }

    p {
        color: $color-text;
        margin-bottom: 56px;

        @include tablet {
            margin-bottom: 32px;
        }

        @include mobile {
            margin-bottom: 32px;
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &Icon {
            position: relative;
            width: 80px;
            height: 80px;

            @include tablet {
                width: 48px;
                height: 48px;
            }

            @include mobile {
                width: 56px;
                height: 56px;
            }

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;

                &:first-child {
                    border: 1px solid $color-border;
                }

                &:last-child {
                    width: 24px;
                    height: 24px;
                    border: 1px solid white;

                    @include tablet {
                        width: 16px;
                        height: 16px;
                    }

                    @include mobile {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            &[data-type="video"] {
                background-image: url('~images/video.svg');
                background-size: cover;
                border: 1px solid $color-border;
                border-radius: 100%;
            }

            &[data-type="podcast"] {
                background-image: url('~images/podcast.svg');
                background-size: cover;
                border: 1px solid $color-border;
                border-radius: 100%;
            }
        }

        &Content {
            flex: 1 0;
            padding-left: 24px;
            color: $color-text;

            b {
                color: $color-text-secondary;
            }

            @include tablet {
                padding-left: 16px;
            }

            @include mobile {
                padding-left: 16px;
            }
        }
    }
}