@import 'styles/const.scss';
@import 'styles/mixins.scss';

$r: ".ArticlesListItem";

#{$r} {
    $animation-duration: .3s;

    position: relative;
    border-radius: 8px;
    border: 1px solid $color-border;
    overflow: hidden;

    &.scroll-for-desktop {
        @include desktop {
            flex: 0 0 (500px / 1440px * 100%);
            height: 510px;
            max-width: 500px;

            &:first-child {
                margin-left: max(80px, calc(50% - 520px));
            }

            &:last-child {
                margin-right: max(80px, calc(50% - 520px));
            }
        }
    }

    &.list-for-desktop {
        @include desktop {
            flex: 0 0 calc(50% - 20px);
            height: 510px;
        }
    }


    &.scroll-for-tablet {
        @include tablet {
            flex: 0 0 (286px / 768px * 100%);
            height: 422px;

            &:first-child {
                margin-left: 88px / 768px * 100%;
            }

            &:last-child {
                margin-right: 88px / 768px * 100%;
            }
        }
    }

    &.list-for-tablet {
        @include tablet {
            flex: 0 0 calc(50% - 10px);
            height: 422px;
        }
    }

    @include mobile {
        width: 100%;
        height: 487px;
        margin-bottom: 16px;
    }

    &:hover,
    &:active {
        @include minMobile {
            #{$r}-picture img {
                transform: scale(1.6);
                opacity: 0.5;
            }
    
            #{$r}-content {
                clip-path: ellipse(1224px 1074px at 40% 205%);
    
                @include laptop {
                    clip-path: ellipse(calc(91.32vw + -91px) 1074px at 40% 205%);
                }
    
                @include tablet {
                    clip-path: ellipse(calc(82.03vw + -51px) 770px at 40% 175%);
                }
    
                @include mobile {
                    clip-path: ellipse(calc(223.17vw + 16px) 1032px at 40% 207%);
                }
            }
    
            #{$r}-subtitle,
            h2 {
                transform: translateY(-4 * 24px);
    
                @include tablet {
                    transform: translateY(-5 * 17px);
                }
    
                @include mobile {
                    transform: translateY(-5 * 24px);
                }
            }
    
            p {
                transform: translateY(-3 * 24px);
                -webkit-line-clamp: 5;
                max-height: 5 * 24px;
    
                @include tablet {
                    transform: translateY(-4 * 17px);
                    max-height: 6 * 17px;
                    -webkit-line-clamp: 6;
                }
    
                @include mobile {
                    transform: translateY(-4 * 24px);
                    max-height: 6 * 24px;
                    -webkit-line-clamp: 6;
                }
    
                &:after {
                    opacity: 0;
                }
            }
        }
    }

    &:hover p:after {
        transition: $animation-duration / 2 opacity $ease-power2-out $animation-duration / 2;
    }

    &-picture {
        position: absolute;
        width: 100%;
        height: 281px;
        background: black;
        border-radius: 9px 9px 0 0;

        @include tablet {
            height: 161px;
        }

        @include mobile {
            height: 188px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $animation-duration transform $ease-power2-out, $animation-duration opacity $ease-power2-out;
        }
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: white;
        padding: 256px 24px 24px;
        clip-path: ellipse(1224px 844px at 40% 205%);

        @include laptop {
            clip-path: ellipse(calc(91.32vw + -91px) 844px at 40% 205%);
        }


        @include tablet {
            padding: 160px 24px 19px;
            clip-path: ellipse(calc(82.03vw + -51px) 600px at 40% 175%);
        }

        @include mobile {
            padding: 178px 24px 24px;
            clip-path: ellipse(calc(223.17vw + 16px) 840px at 40% 207%);
        }

        transition: $animation-duration clip-path $ease-power2-out;

        &Wrapper {
            position: relative;
            height: 100%;
        }
    }


    &-subtitle {
        color: $color-primary;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 500;
        transition: $animation-duration transform $ease-power2-out;
    }

    h2 {
        color: $color-primary;
        margin-bottom: 16px;
        max-height: 2 * 31px + 3px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include tablet {
            max-height: 3 * 24px + 3px;
            -webkit-line-clamp: 3;
        }

        @include mobile {
            max-height: 3 * 31px + 3px;
            -webkit-line-clamp: 3;
        }

        transition: $animation-duration transform $ease-power2-out;
    }

    p {
        position: absolute;
        color: $color-text;
        max-height: 2 * 24px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @include tablet {
            max-height: 3 * 17px;
            -webkit-line-clamp: 3;
        }

        @include mobile {
            max-height: 3 * 24px;
            -webkit-line-clamp: 3;
        }

        transition: $animation-duration transform $ease-power2-out, $animation-duration -webkit-line-clamp $ease-power2-out, $animation-duration max-height $ease-power2-out;

        &:after {
            content: '';
            position: absolute;
            top: 2 * 24px;
            left: 0;
            background: white;
            width: 100%;
            height: 100%;
            opacity: 1;

            @include tablet {
                top: 3 * 17px;
            }

            @include mobile {
                top: 3 * 24px;
            }

            transition: $animation-duration opacity $ease-power2-out;
        }
    }

    &-info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        &Icon {
            position: relative;
            width: 48px;
            height: 48px;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;

                &:first-child {
                    border: 1px solid $color-border;
                }

                &:last-child {
                    width: 16px;
                    height: 16px;
                    border: 1px solid white;
                }
            }

            &[data-type="video"] {
                background-image: url('~images/video.svg');
                background-size: cover;
                border: 1px solid $color-border;
                border-radius: 100%;
            }

            &[data-type="podcast"] {
                background-image: url('~images/podcast.svg');
                background-size: cover;
                border: 1px solid $color-border;
                border-radius: 100%;
            }
        }

        &Content {
            flex: 1 0;
            padding-left: 16px;
            color: $color-text;

            b {
                color: $color-text-secondary;
            }

            span {
                display: inline-block;
                max-height: 24px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;

                @include tablet {
                    max-height: 17px;
                }
            }
        }
    }
}