@import 'styles/const.scss';
@import 'styles/mixins.scss';

.ArticleInfo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;

    @include mobile {
        margin-bottom: 48px;
    }

    &-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1040px;
        width: calc(100% - 160px);
        gap: 0 160px;

        @include tablet {
            width: 592px / 768px * 100%;
            gap: 0 88px;
        }

        @include mobile {
            display: block;
            width: 286px / 375px * 100%;
        }
    }

    &-contentLeft {
        flex: 1 0 0;

        @include mobile {
            width: 100%;
        }
    }

    &-contentRight {
        flex: 1 0 0;

        @include mobile {
            width: 100%;
        }
    }

    &-subtitle {
        color: $color-primary;
        text-transform: uppercase;
        margin-bottom: 8px;
        font-weight: 500;

        @include mobile {
            margin-bottom: 16px;
        }
    }

    h1 {
        color: $color-primary;
        margin-bottom: 56px;

        @include tablet {
            margin-bottom: 40px;
        }

        @include mobile {
            margin-bottom: 32px;
        }
    }

    &-caption {
        color: $color-text-secondary;
        margin-bottom: 16px;
        font-weight: 500;

        @include mobile {
            display: none;
        }
    }

    &-text {
        color: $color-text;
        margin-bottom: 24px;

        @include tablet {
            margin-bottom: 16px;
        }

        @include mobile {
            display: none;
        }
    }

    &-footnote {
        color: $color-text;

        @include mobile {
            display: none;
        }
    }

    &-textMobile {
        display: none;

        @include mobile {
            display: block;
            color: $color-text;
            margin-bottom: 16px;
        }
    }

    &-footnoteMobile {
        display: none;

        @include mobile {
            display: block;
            color: $color-text;
            margin-bottom: 24px;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.27px;
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &Icon {
            position: relative;
            width: 80px;
            height: 80px;

            @include tablet {
                width: 64px;
                height: 64px;
            }

            @include mobile {
                width: 56px;
                height: 56px;
            }

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;

                &:first-child {
                    border: 1px solid $color-border;
                }

                &:last-child {
                    width: 24px;
                    height: 24px;
                    border: 1px solid white;

                    @include tablet {
                        width: 16px;
                        height: 16px;
                    }

                    @include mobile {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        &Content {
            flex: 1 0;
            padding-left: 24px;
            color: $color-text;

            b {
                color: $color-text-secondary;
            }

            @include tablet {
                padding-left: 16px;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.16px;
            }

            @include mobile {
                padding-left: 16px;
            }
        }
    }

}