@font-face {
    font-family: 'apercupro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/apercupro-light.woff2) format('woff2'),
         url(../fonts/apercupro-light.woff) format('woff');
}

@font-face {
    font-family: 'apercupro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/apercupro-medium.woff2) format('woff2'),
         url(../fonts/apercupro-medium.woff) format('woff')
}